h5 {
  padding-top: 5px;
}
nav {
  box-shadow: 0px -2px, 0em 0 0.2em rgb(1, 5, 8);
}
.weather-forecast-nav {
  margin-bottom: 15px;
}
.search {
  margin-top: 50px;
  width: 30vw;
  margin-left: 35vw;
}
.page-wrapper {
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100vw;
}

.weather {
  font-size: 30px;
}

.main-row {
  margin: 0.5rem 1rem;
  gap: 0.5rem;
}

.location {
  color: #fdfdfd;
  margin-top: 50px;
  margin-left: 400px;
  font-size: 75px;
}
.weather-image {
  width: 270px;
  margin-top: 36px;
  margin-left: -81px;
}
.temperature {
  margin-left: 400px;
  font-size: 16px;
  color: white;
}
.degrees {
  margin-left: 403px;
  color: white;
  font-size: 40px;
  display: flex;
}
.sun {
  padding-top: -5px;
  width: 75px;
}
.card {
  height: 250px;
  background-color: #ffffff;
  color: #808080;
  opacity: 0.7;
  text-align: center;
  box-shadow: 1px -1px, 0.1em 0 0.2em rgb(1, 5, 8);
  line-height: 1.7;
}

.date {
  opacity: 0.9;
  font-size: 18px;
}
.card-degree {
  padding-top: 5%;
}
.card-wind {
  font-size: 15px;
}
.card-text {
  font-size: 15px;
  color: rgb(97, 95, 95);
  text-transform: capitalize;
}
.card-title {
  font-weight: 200;
}
.temp-link {
  color: #fdfdfd;
  font-size: 18px;
}

.temp-link.active {
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  color: #000000;
}

.divider {
  font-size: 18px;
  color: rgb(21, 21, 109);
  text-decoration: underline;
  cursor: pointer;
}

.units {
  display: flex;
}
/* .current-temp {
  position: relative;
  margin-left: 11px;
  font-size: 16px;
}
.show-current-temp {
  font-size: 25px;
} */
.open-source-footer-link {
  text-align: center;
  font-style: italic;
}

.footer {
  text-decoration: none;
}
.footer-name {
  color: #fdfdfd;
}
.weather-state {
  color: #ffffff;
  font-size: 20px;
  margin-left: 48px;
}
.description {
  margin-left: 25rem;
  color: white;
  text-transform: capitalize;
}
.weather-information {
  line-height: 12px;
  font-style: italic;
}
.column {
  margin-top: 10px;
}
.weather-forecast {
  max-width: 75vw;
  margin-left: 12.5vw;
  margin-top: 55px;
}
.min-temperature {
  font-weight: 200;
  color: #808080;
}
